@page "/"

<PageTitle>Home</PageTitle>

<h2>Prefixed Pages</h2>
<a href="prefix/">Home</a>
<a href="prefix/counter">Counter</a>
<a href="/prefix/weather?arg=1">Weather</a>

<h2>Direct Pages</h2>
<a href="counter">Counter</a>
<a href="/weather?arg=1">Weather</a>
<a href="/">Home</a>